@import "tailwindcss";

@theme {
  --*: initial;

  --font-sans: "General Sans", sans-serif;

  --color-primary: #191D63;
  --color-dark: #060710;
  --color-black: #000000;
  --color-gray: #757575;
  --color-gray-alt: #747475;

  --color-light: #F4F3F6;
  --color-background: #EDE8E3;
  --color-background-alt: #EDE8E2;

  --color-success: #31CD63;
  --color-success-dark: #20BA6E;
  --color-success-light: #45C486;

  --color-danger: #A40021;

  --spacing: 0.0625rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;

  --text-heading-01: 28px;
  --text-heading-01--line-height: 38px;

  --text-heading-02: 22px;
  --text-heading-02--line-height: 28px;

  --text-heading-03: 18px;
  --text-heading-03--line-height: 20px;

  --text-body-01: 16px;
  --text-body-01--line-height: 16px;

  --text-body-02: 14px;
  --text-body-02--line-height: 14px;
}

@layer base {
  @font-face {
    font-family: 'General Sans';
    src: url('/public/fonts/GeneralSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'General Sans';
    src: url('/public/fonts/GeneralSans-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }


  body {
    @apply bg-background text-dark font-sans;
  }
}

@utility text-typo-* {
  font-size: --value(--text-*);
  line-height: --value(--text-*--line-height);
}